body {
  background-color : #DBDBDB;
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.8em 1.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #808080;
  }
}

.page-title {
  font: 2em "Verdana", "Georgia", sans-serif;
  font-weight : bold;
  text-align : center;
  margin : 8% 0% 3% 0%;
}

.page-writing, page-writing * {
  font-style : normal;
  font-weight: normal;
  font: 1em "Verdana", "Georgia", sans-serif;
  margin : 0% 25% 7% 25%;
  text-align : center;
}

.links, .links *
{
  text-decoration: none;
  color : 4169e1;
  font: "Verdana", "Georgia", sans-serif;
  font-weight : bold;
}

