body {
  background-color : #DBDBDB;
}

.TopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  position: absolute;
  top: 0;
  right: 0;
  width : 100%;
  height: 55px;
}

.TopBar > li {
  float: left;
  border-right: 1px solid #bbb;
}


.TopBar > li:last-child {
  border-right: none;
}


.TopBar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 20px;
  text-decoration: none;
  font: 13px "Verdana", "Georgia",  sans-serif;
}

.TopBar > li a:hover {
  background-color: #111;
}

.Active {
  background-color: #8511C4;
}

.PageTitle {
  font: 32px "Verdana", "Georgia", sans-serif;
  font-weight : bold;
  position: absolute;
  top : 55px;
  padding : 15px 15px;
  text-align : center;
}

.PageWriting, .PageWriting * {
  position : relative;
  font-style : normal;
  font-weight: normal;
  font: 16px "Verdana", "Georgia", sans-serif;
  top: 25px;
  max-width : 600px;
  text-align : center;
}

.PageBox
{
  position : absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width : 100%;
  height : 50%;
  top: 25px;
  left: 0px;
}
