body {
  background-color : #DBDBDB;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.8em 1.5em;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
  border-right: 2px solid #808080;
}

.page-title {
  font: 2em "Verdana", "Georgia", sans-serif;
  font-weight : bold;
  text-align : center;
  margin : 10% 0% 3% 0%;
}

.page-writing {
  font-style : normal;
  font-weight: normal;
  font: 1em "Verdana", "Georgia", sans-serif;
  margin : 0% 25% 7% 25%;
  text-align : center;
}

.date-line {
  font-style : normal;
  font-weight: normal;
  font: 1.25em "Verdana", "Georgia", sans-serif;
  margin : 0% 25% 3% 25%;
  text-align : center;
}

.link-table 
{
  padding-top : 5%;
  padding-bottom : 2%;
}

.link-table .row 
{
  padding-top : 2%;
  padding-bottom : 2%;
}

.links, .links *
{
  text-decoration: none;
  color : 4169e1;
  font: "Verdana", "Georgia", sans-serif;
  font-weight : bold;
}

.no-bold
{
  font-weight : normal;
}

.pcontainer
{
  position : relative;
  min-height : 100vh;
  background : #ddd;
}

.pcontainer .image-container
{
  display : flex;
  flex-wrap : wrap;
  gap : 15px;
  justify-content : center;
  padding : 10px;
}

.pcontainer .image-container .image
{
  height : 250px;
  width : 350px;
  border : 5px solid #fff;
  box-shadow : 0px 5px 15px rgba(0, 0, 0, .1);
  overflow : hidden;
  cursor : pointer;
}

.pcontainer .image-container .image img
{
  height : 100%;
  width: 100%;
  object-fit : cover;
  transition : .2s linear;
}

.pcontainer .image-container .image:hover img
{
  transform : scale(1.1);
}

.pcontainer .popup-image
{
  top : 0;
  left : 0;
  position : fixed;
  background : rgba(0, 0, 0, 0.9);
  height : 100%;
  width : 100%;
  z-index : 100;
  display : none;
  justify-content : center;
  align-items : center;
}

.pcontainer .popup-image .close
{
  position : absolute;
  top : 0;
  right : 0;
  margin : 1% 2% 0% 0%;

  font-size : 5vw;
  font-weight : bolder;
  color : #fff;
  cursor : pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pcontainer .popup-image .prev
{
  position : relative;
  top : 50%;
  left : 18%;
  font-size : 5vw;
  font-weight : bolder;
  color : #fff;
  cursor : pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pcontainer .popup-image .next
{
  position : relative;
  top : 50%;
  left: 72%;
  font-size : 5vw;
  font-weight : bolder;
  color : #fff;
  cursor : pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pcontainer .popup-image figure
{
  position : absolute;
  top : 50%;
  left : 50%;
  justify-content : center;
  align-items : center;
  transform : translate(-50%, -50%);
}

.pcontainer .popup-image figure img
{
  position : relative;
  object-fit : cover;
  border : 0.50vw solid #fff;
  border-radius : 0.50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height : auto;

}

.pcontainer .popup-image .popup-caption
{
  position : relative;
  font: 1vw "Verdana", "Georgia", sans-serif;
  color : white;
  font-weight : 600;
  margin : 2% 0% 2% 0%;
}

.blog-posts
{
  margin : 1% 10% 1% 10%;
  border-style : solid;
  border-color : black;
  border-radius : 10px;
  background-color : #bbbbbb;
  cursor : pointer;
}

.blog-posts .title
{
  font: 1.125em "Verdana", "Georgia", sans-serif;
  padding : 1% 0% 1% 0%;
}

.blog-posts .date
{
  font: 0.875em "Verdana", "Georgia", sans-serif;
  padding : 1% 0% 1% 0%;
}

.blog-posts:hover
{
  border-color : blue;
}

.menu-button
{
  position : relative;
  max-height : 15% !important;
  left : 1%;
}

@media (max-height: 500px), (max-width : 900px)
{
  .page-title
  {
    margin-top : 20%;
  }
  .link-table
  {
    padding-top : 5%;
  }
}

@media (max-height : 350px), (max-width : 750px)
{
  .page-title
  {
    margin-top : 30%;
  }
  .link-table
  {
    padding-top : 10%;
  }
}

@media (max-height : 150px), (max-width : 600px)
{
  .page-title
  {
    margin-top : 35%;
  }
  .link-table
  {
    padding-top : 15%;
  }
}
